@import url("https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800&display=swap");
@import url("utilities.css?id=5");
@import url("media-queries.css?id=2");

/* HEADER */
.top-header .right a, .mobile-nav .socials a {
    width:  30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    color: var(--gray-100);
    top:  0;
}

.top-header .right a span, .mobile-nav .socials a span {
    position: absolute;
    top:  -5px;
    right:  -9px;
    font-size: 10px;
    padding:  1px 3px;
    text-transform: uppercase;
    background-color: #000;
    opacity: 0.9;
    width:  auto;
    white-space: nowrap;
}

.top-header .right a:hover span {
    display: inline-block !important;
}

.top-header .right a:hover, .mobile-nav .socials a:hover {
    background-color: var(--red-900) !important;
    color:  var(--gray-100) !important;
    top:  3px;
}

.destop-nav li, .destop-nav li a {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.destop-nav li {
    margin: 0;
}

.top-header .dropdown-menu {
    transition: none!important;
}



.destop-nav li a, .mobile-nav li a {
    padding: 10px 17px;
    color:  var(--gray-500);
    font-family: 'Oswald';
}

.mobile-nav {
    position: fixed;
    top: 50px;
    width:  100%;
    min-height: 100vh;
    z-index: 100;
}

.mobile-nav li a {
    display: block;
    text-decoration: none;
    color:  var(--gray-100);
}

.mobile-nav li a:hover {
    background-color: var(--gray-500);
    color: #fff;
}

.mobile-nav li a {
    border-bottom: 1px solid #aaa;
}

.destop-nav li a:hover,.destop-nav li a.search {
    background-color: var(--red-900);
    color:  white;
} 

.card .card-title a {
    text-decoration: none;
    color:  var(--gray-500);
}

.card .card-title a:hover {
    color:  var(--red-900);
}

.card-list div:nth-child(1) {
    margin-top:  0px;
}

.card-list img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card-list .left {
    position: relative;
    overflow: hidden;
}

.news-header h2 {
    font-size:  25px;
    line-height: 1;
    font-weight: bold;
}


.news-header {
    margin:  10px 0px;
    padding:  0;

}

.content-title {
    border-left: 4px solid var(--red-900);
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.view-news-header-bg {
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 0;
    filter: blur(8px);
    background-repeat: no-repeat;
}

.view-news-header-bg-withNoFilter {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.view-news section:nth-child(1) header .btn {
    position: relative;
    top:  0;
    border-radius: 0;
}

.view-news section:nth-child(1) header .btn:hover{
    top:  1px;
}

.view-news section:nth-child(1) footer .btn:hover {
    background-color: var(--red-900);
    color: #fff;
     border-radius: 0;
     text-decoration: none;
}


.view-news section:nth-child(1) header a.facebook {
   background-color: var(--blue-900);
   color: #fff;
}

.view-news section:nth-child(1) header a.twitter {
   background-color: var(--blue-300);
   color: #fff;
}

.blog-content p {
    padding: 10px;
}

.blog-content a {
    color: var(--blue-900);
}

.blog-image {
    object-fit: cover;
    width:  100%;
}

.related-articles img {
    width:  100%;
    height:  100px;
    object-fit: cover;
}

.related-articles p {
    padding: 7px;
    line-height: 1;
}
.related-articles a {
    font-size: 14px;
    text-decoration: none;
}

.related-articles a:hover {
    color:  var(--red-900);
}

.related-articles main > div {
    position: relative;
    top:  0;
}

.related-articles main > div:hover {
    top:  5px;
}

.related-articles main {
    overflow-x: auto;
}

.readers-comments .icon {
    width:   60px;
    height:  40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: var(--pink-500);
    color: #fff;
}

.readers-comments p {
    font-size: 14px;
    padding:  7px;
}

.readers-comments header {
    padding:  5px 10px ;
     font-size: 12px;
    background-color: var(--gray-100);
}

.readers-comments header .name {
    font-weight: bold;
}

.readers-comments footer {
    padding:  5px 10px ;
     font-size: 12px;
}

.readers-comments .main-footer a:hover {
    background-color: var(--red-900) !important;
    color: #fff;
    text-decoration: none;
}

.page-footer a {
    color:  var(--gray-100);
    font-size: 14px;
}

.page-footer ul, .page-footer li {
    list-style: none;
    margin: 0;
    font-size: 14px;
    padding: 0;
}

.page-footer li {
    padding-left: 10px;
}

.page-footer li { 
   margin:  7px 0px;
}

.load-more {
    padding: 5px 20px;
    font-family: 'Oswald';
    background-color: #fff;
    font-size: 14px;
    text-decoration: none !important;
    position: relative;
    top:  0;
}

.load-more:hover {
    background-color: var(--red-900) !important;
    color: #fff !important;
    top: 1px;
}

.questions-wrapper .question-item .question {
    font-weight: bold;
}

.questions-wrapper .question-item .option span:nth-child(1) {
    font-weight: bold;
}

.questions-wrapper .question-item ul, .questions-wrapper .question-item ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-style-none {
     margin: 0;
    padding: 0;
    list-style: none;
}

.option-number {
    width: 30px;
    height: 30px;
    font-size: 12px;
    background-color: var(--red-900);
    color: #fff;
}

.object-cover {
    object-fit: cover;

}

.blockquote {
    font-size: 14px;
    border-left: 4px solid  var(--red-900);
    margin: 10px;
}

.blockquote a, .authentication a, .table a, .coloured-links a {
    color: var(--blue-900);
}

.authentication span, .authentication a  {
    font-size: 14px;
}

.pagination a {
    text-decoration: none;
    margin-right: 5px;
}

.pagination .active {
    background-color: var(--gray-500);
    color: #fff;
    border: 1px solid #000;
}

.pagination .inactive {
    background-color: #fff;
    color: var(--gray-500);;
}

.pagination .inactive:hover {
    background-color: var(--red-900);
    color: #fff;
}

.tag-wrapper {
    overflow-x: auto;
    width: 100%;
    display: flex;
}

.tagged-news .tags a {
    font-weight: bold;
    background-color: var(--gray-300);
    text-decoration: none;
    padding: 1px 5px;
    margin-right: 10px;
}

.tagged-news .tags a:hover {
    background-color: var(--red-900);
    color: #fff;
}

.bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.2);
}

.text-transparent-black {
    color: rgba(0, 0, 0, 0.2);
}

.table img, .list-group-item img {
    width:  50px;
    height: 50px;
    object-fit: cover;
}

.list-group-item {
    font-size: 14px;
}

.accordion-item .accordion-button div {
    width:  30px;
}

.remove-arrow::after {
    display: none;
}

.dashboard-sidebar a {
    text-decoration: none;
}

.dashboard-sidebar a:hover {
    opacity: 0.7;
}